<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lista de Animais</title>
<!-- Estilos CSS aqui -->
</head>
<body>
    {% include 'nav.html' %}
    <br>
    <h1>Lista de Animais</h1>
    <table>
        <thead>
            <tr>
                <th>Nome do Pet</th>
                <th>Espécie</th>
                <th>Porte</th>
                <th>Raça</th>
                <th>Sexo</th>
                <th>Data de Nascimento</th>
                <th>CPF do Tutor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for animal in animais %}
            <tr>
                <td>{{ animal.nomepet }}</td>
                <td>{{ animal.especie }}</td>
                <td>{{ animal.porte }}</td>
                <td>{{ animal.raca }}</td>
                <td>{{ animal.sexo }}</td>
                <td>{{ animal.data_nascimento }}</td>
                <td>{{ animal.cpf_tutor }}</td>
                <td>
                    <a href="/updateAnimal/{{ animal.id }}" class="btn btn-edit">Editar</a>
                    <a href="/deleteAnimal/{{ animal.id }}" class="btn btn-delete">Deletar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Link para página de cadastro de animais -->
    <p><a href="/cadastroAnimal/">Cadastrar Novo Animal</a></p>
</body>
</html>
