<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tutores</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editar.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .container {
            border: 7px solid #95C6F2;
            border-radius: 50px;
            padding: 30px;
            width: fit-content;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-expand-lg custom-bg">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active left-link" aria-current="page" href="{% url 'index' %}">Pet Shop</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashatualizacao' %}">Voltar</a>
                </li>
            </ul>
        </div>
    </nav><br>
    <div class="background-img">
        <h1 class="text-center">Lista de Tutores</h1>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th><h5><b>Nome&nbsp;</b></h5></th>
                        <th><h5><b>Email&nbsp;</b></h5></th>
                        <th><h5><b>CPF&nbsp;</b></h5></th>
                        <th><h5><b>Logradouro&nbsp;</b></h5></th>
                        <th><h5><b>Bairro&nbsp;</b></h5></th>
                        <th><h5><b>CEP&nbsp;</b></h5></th>
                        <th><h5><b>Número&nbsp;</b></h5></th>
                        <th><h5><b>Cidade&nbsp;</b></h5></th>
                        <th><h5><b>Estado&nbsp;</b></h5></th>
                        <th><h5><b>Telefone&nbsp;</b></h5></th>
                        <th><h5><b>&nbsp;Ações</b></h5></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tutor in tutor %}
                    <tr>
                        <td><h5><b>{{ tutor.nometutor }}</b></h5></td>
                        <td><h5><b>{{ tutor.email }}</b></h5></td>
                        <td><h5><b>{{ tutor.cpf }}</b></h5></td>
                        <td><h5><b>{{ tutor.logradouro }}</b></h5></td>
                        <td><h5><b>{{ tutor.bairro }}</b></h5></td>
                        <td><h5><b>{{ tutor.cep }}</b></h5></td>
                        <td><h5><b>{{ tutor.numero }}</b></h5></td>
                        <td><h5><b>{{ tutor.cidade }}</b></h5></td>
                        <td><h5><b>{{ tutor.estado }}</b></h5></td>
                        <td><h5><b>{{ tutor.telefone }}</b></h5></td>
                        <td>
                            <a href="/updateTutor/{{ tutor.id }}" class="btn btn-primary">Editar</a>
                            <a href="/deleteTutor/{{ tutor.id }}" class="btn btn-danger">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br><br><br><br>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="{% url 'home' %}" class="btn btn-danger">Cancelar</a>
            </div>
            <div class="col-auto">
                <a href="{% url 'cadastroTutor' %}" class="btn btn-primary">Cadastrar Novo Tutor</a>
            </div>
        </div>
    </div>
 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</html>