<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetSHop</title>
</head>

<body>

    <form action="{% url 'updateTutor' tutor.id %}" method="POST">
        {% csrf_token %}
        <div class="container-wrapper">
            <div class="form-container">
                <div class="form-group">
                    <label for="nome"><b>Nome tutor:</b></label><br>
                    <input class="input" type="text" id="nometutor" name="nometutor" required>
                    <br>
                    <label for="cep"><b>CEP:</b></label><br>
                    <input class="input" type="text" id="cep" name="cep" required>
                    <br>
                    <label for="endereco"><b>logradouro:</b></label><br>
                    <input class="input" type="text" id="endereco" name="logradouro" required>
                    <br>
                    <label for="numero"><b>Número:</b></label><br>
                    <input class="input" type="text" id="numero" name="numero" required>
                    <br>
                    <label for="bairro"><b>Bairro:</b></label><br>
                    <input class="input" type="text" id="bairro" name="bairro" required>
                    <br>
                    <label for="cidade"><b>Cidade:</b></label><br>
                    <input class="input" type="text" id="cidade" name="cidade" required>
                    <br>
                    <label for="estado"><b>Estado:</b></label><br>
                    <input class="input" type="text" id="estado" name="estado" required>
                </div>
            </div>
            <div class="form-container">
                <div class="form-group">
                    <label for="email"><b>Email:</b></label><br>
                    <input class="input" type="email" id="email" name="email" required>
                    <br>
                    <label for="telefone"><b>Telefone:</b></label><br>
                    <input class="input" type="text" id="telefone" name="telefone" required>
                    <br>
                    <label for="telefone"><b>Telefone 2:</b></label><br>
                    <input class="input" type="text" id="telefone" name="telefone" required>
                    <br>
                    <label for="cpf"><b>CPF:</b></label><br>
                    <input class="input" type="cpf" id="cpf" name="cpf" required>
                    <br>
                    <label for="password"><b>Senha:</b></label><br>
                    <input class="input" type="password" id="password" name="password" required>
                    <br>
                    <label for="password"><b>Confirme sua senha:</b></label><br>
                    <input class="input" type="password" id="password" name="password" required>
                    <br>
                    <br>
                </div>
                <br>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <a href="{% url 'index' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                    <div class="form-group col-auto">
                        <button type="submit" class="btn btn-primary">Atualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>
    </div>
</body>

</html>