.h1 {
    color: black;
    font-weight: bold;
}

body {
    background-image: url('../Aplicativo/media/fundo_opaco.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-wrapper {
    display: inline-flex; /* Habilitar flexbox para arranjo horizontal */
    margin-left: 10%;
}

.form-container {
    border: 5px solid #95C6F2; /* Adiciona uma borda */
    border-radius: 50px; /* Adiciona um raio de borda */
    padding: 50px;
}

.form-group .input {
    font-size: 16px;
    color: black; /* cor do texto */
    background-color: #95C6F2; /* cor de fundo */
    border: 1px solid #95C6F2; /* cor da borda */
    padding: 10px; /* espaçamento interno */
    border-radius: 10px; /* arredondamento da borda */
    width: 550px; /* largura do input */
}
