.h1 {
    color: black;
    font-weight: bold;
}

body {
    background-image: url('../Aplicativo/media/fundo_opaco.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.checkbox {
    border: 7px solid #95C6F2;
    /* Adiciona uma borda */
    border-radius: 50px;
    /* Adiciona um raio de borda */
    padding: 80px;
    margin-top: 30px;
    display: inline-block;
    margin-left: 40%;
}