.custom-bg {
    background-color: #95C6F2;
}

.button-without-shadow {
    box-shadow: none;
    background-color: #95C6F2;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 5px;
}
