.h1 {
    color: black;
    font-weight: bold;
}

.custom-container-wrapper {
    display: inline-block; /* Habilitar flexbox para arranjo horizontal */
    justify-content: center;
    align-items: center;
}

.custom-form-container {
    padding: 30px;
    width: 630px;
}

.custom-form-group .custom-input {
    font-size: 16px;
    color: black; /* cor do texto */
    background-color: #95C6F2; /* cor de fundo */
    border: 1px solid #95C6F2; /* cor da borda */
    padding: 8px; /* espaçamento interno */
    border-radius: 10px; /* arredondamento da borda */
    width: 300px;
}

.custom-container {
    background-color: #95C6F2; /* cor de fundo */
    border: 1px solid #95C6F2; /* cor da borda */
    padding: 8px; /* espaçamento interno */
    border-radius: 10px; /* arredondamento da borda */
    width: 320px;
    margin-left: 110px;
}