.h1 {
    color: black;
    font-weight: bold;
}

.custom-container-wrapper {
    display: inline-flex; /* Habilitar flexbox para arranjo horizontal */
    justify-content: space-evenly;
    align-items: center;
}

.custom-form-container {
    border: 7px solid #95C6F2; /* Adiciona uma borda */
    border-radius: 50px; /* Adiciona um raio de borda */
    padding: 20px;
}

.custom-form-group .custom-input {
    font-size: 16px;
    color: black; /* cor do texto */
    background-color: #95C6F2; /* cor de fundo */
    border: 1px solid #95C6F2; /* cor da borda */
    padding: 10px; /* espaçamento interno */
    border-radius: 10px; /* arredondamento da borda */
    width: 300px;
}

.custom-container {
    background-color: #95C6F2; /* cor de fundo */
    border: 1px solid #95C6F2; /* cor da borda */
    padding: 10px; /* espaçamento interno */
    border-radius: 10px; /* arredondamento da borda */
    width: 320px;
}